<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Dashboard</a></li>
                <li><a ui-sref="company-profile({name:currentCompany.name})">Company</a></li>
                <li class="active"><span>Messages</span></li>
            </ol>
            <h1>Company Messages</h1>
        </div>
    </div>
    <div class="row" id="user-profile">
        <div class="col-lg-4 col-md-5 col-sm-5">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>
                        {{currentCompany.name}}
                    </h2>
                    <div class="profile-status" style="margin-top:0px">
                        <i class="fa fa-circle"></i> Online
                    </div>
                </header>
                <div class="main-box-body clearfix">
                    <h2 ng-show="conversations.length === 0" class="text-center">No Conversations</h2>
                    <center>
                        <img ng-show="loading" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" width="75px" />
                    </center>
                    <ul class="widget-products conversations">
                        <li ng-repeat="conversation in conversations | orderBy: '-'">
                            <a href="" ng-class="{'active': currentConversation._id === conversation._id}" ng-click="selectConversation(conversation)">
                                <div class="img col-lg-1 col-md-1 col-xs-2">
                                    <img ng-src="img/user-profile/{{conversation.user.image}}" alt="" />
                                </div>
                                <div class="product clearfix col-lg-8 col-md-8 col-xs-7">
                                    <div class="name col-lg-12">
                                        <span ng-hide="conversation.companyNotifications.new">
                                        {{conversation.user.firstname}} {{conversation.user.lastname}}
                                        </span>
                                        <strong ng-show="conversation.companyNotifications.new">
                                        {{conversation.user.firstname}} {{conversation.user.lastname}}
                                        <span class="label label-primary label-circle pull-right">{{conversation.companyNotifications.total}}</span>
                                        </strong>
                                    </div>
                                    <div class="name col-lg-12" style="margin-top:-7px">
                                        {{conversation.message.body | limitTo:50}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-7">
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/user/messenger#tab-conversation" data-toggle="tab">Conversation</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-conversation">
                            <div class="row">
                                <div class="conversation-wrapper">
                                    <h2 ng-show="currentConversation._id === undefined" class="text-center">No Conversation Selected</h2>
                                    <div ng-hide="currentConversation._id === undefined" class="conversation-content">
                                        <div class="conversation-inner" scroll-glue>
                                            <div class="conversation-item clearfix" ng-class="{'item-right': message.company, 'item-left': message.user}" ng-repeat="message in messages">
                                                <div class="conversation-user">
                                                    <img ng-show="message.user" ng-src="img/user-profile/{{currentConversation.user.image}}" width="50px" alt="" />
                                                    <img ng-show="message.company" ng-src="img/company-profile/{{currentCompany.image}}" width="50px" alt="" />
                                                </div>
                                                <div class="conversation-body">
                                                    <div class="name" ng-show="message.user">
                                                        {{currentConversation.user.firstname}} {{currentConversation.user.lastname}}
                                                    </div>
                                                    <div class="name" ng-show="message.company">
                                                        {{currentCompany.name}}
                                                    </div>
                                                    <div class="time hidden-xs"> {{message.createdAt | date:"MMMM dd yyyy, HH:mm a"}}</div>
                                                    <div class="text">
                                                        {{message.body}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-hide="currentConversation._id === undefined" class="conversation-new-message">
                                        <form ng-submit="sendMessage()">
                                            <div class="form-group">
                                                <textarea class="form-control chat-input" rows="2" ng-model="composedMessage" placeholder="Enter your message..."></textarea>
                                            </div>
                                            <div class="clearfix chat-send">
                                                <button type="submit" class="btn btn-success pull-right">Send message</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.conversation-inner').slimScroll({
            height: '405px',
            wheelStep: 35,
        });
    });
</script>