<a ui-sref="user" id="logo" class="navbar-brand">
    <img src="img/logo.png" alt="" class="normal-logo logo-white" />
    <img src="img/logo-black.png" alt="" class="normal-logo logo-black" />
    <img src="img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden" />
</a>
<div class="clearfix">
    <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                    </button>
    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
        <ul class="nav navbar-nav pull-left">
            <li>
                <a class="btn" id="make-small-nav" ng-click="doit()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-no-collapse pull-right" id="header-nav">
        <ul class="nav navbar-nav pull-right">
            <li class="mobile-search" ng-click="mobileSearch()">
                <a class="btn">
                    <i class="fa fa-search"></i>
                </a>
                <div class="drowdown-search">
                    <form role="search" ng-submit="searchCompanies()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="search">
                            <i class="fa fa-search nav-search-icon"></i>
                        </div>
                    </form>
                </div>
            </li>
            <li class="dropdown hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>-->
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span class="count">{{cartTotalQTY}}</span>
                </a>
                <ul class="dropdown-menu notifications-list messages-list">
                    <li class="pointer">
                        <div class="pointer-inner">
                            <div class="arrow"></div>
                        </div>
                    </li>
                    <li class="item first-item" ng-repeat="product in cartProducts">
                        <a href="">
                            <!--<div class="item-container">-->
                            <img ng-src="img/company-profile/products/{{product.images[0]}}" alt="" width="50" style="padding-right:10px" />
                            <span class="content">
                                <span class="content-headline">{{product.qty}} x {{product.name}}</span>
                            <span class="content-text">
                                    {{product.description | limitTo: 50}}...
                                </span>
                            </span>
                            <span class="time"><i class="fa fa-money"></i> &dollar;{{product.price}}</span>
                            <!--<a href=""><span class="red"><i class="fa fa-trash"></i> Remove from cart</span></a>-->
                            <!--</div>-->
                        </a>
                    </li>
                    <li ng-show="cartTotalQTY > 0" class="item-footer">
                        <a ui-sref="shopping-cart">View Cart</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown profile-dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="img/user-profile/{{currentUser.image}}" alt="" />
                    <span class="hidden-xs">{{currentUser.firstname}} {{currentUser.lastname[0]}}.</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="user"><i class="fa fa-user"></i>Profile</a></li>
                    <hr/>
                    <!--<li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
                    <li><a href=""><i class="fa fa-envelope-o"></i>Messages</a></li>-->
                    <li><a href="" ui-sref="company-create"><i class="fa fa-plus"></i>Create company</a></li>
                    <li ng-repeat="company in currentUser.companies"><a href="" ui-sref="company-profile({name: company.name})"><i class="fa fa-building-o"></i>{{company.name}}</a></li>
                    <hr/>
                    <li><a href="" ng-click="logout()"><i class="fa fa-power-off"></i>Logout</a></li>
                </ul>
            </li>
            <li class="dropdown language hidden-xs">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    English
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="item">
                        <a href="">Nederlands</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>