<div class="row">
    <div class="col-xs-12">
        <div id="login-box">
            <div id="login-box-holder">
                <div class="row">
                    <div class="col-xs-12">
                        <header id="login-header">
                            <div id="login-logo">
                                <img src="img/logo.png" alt="" />
                            </div>
                        </header>
                        <div id="login-box-inner" class="with-heading">
                            <h4>Recover your password</h4>
                            <p>
                                Enter your new password.
                            </p>
                            <form role="form" ng-submit="setNewPassword()">
                                <div class="input-group reset-pass-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input class="form-control" type="password" ng-model="user.newPassword" placeholder="New Password">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                    <input class="form-control" type="password" ng-model="user.confirmNewPassword" placeholder="Confirm New Password">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-success col-xs-12">Reset password</button>
                                    </div>
                                    <div class="col-xs-12">
                                        <br/>
                                        <a ui-sref="login" href="" id="login-forget-link" class="forgot-link col-xs-12">Back to login</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>