<section id="col-left" class="col-left-nano">
    <div id="col-left-inner" class="col-left-nano-content">
        <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
            <img ng-hide="isCompany" alt="" ng-src="img/user-profile/{{currentUser.image}}" />
            <img ng-show="isCompany" alt="" ng-src="img/company-profile/{{currentCompany.image}}" />
            <div class="user-box">
                <span class="name">
                    <a ui-sref="user">
                        <div ng-hide="isCompany">
                            {{currentUser.firstname}} {{currentUser.lastname[0]}}.
                        </div>
                        <div ng-show="isCompany">
                            {{currentCompany.name}}
                        </div>
                        <!--<i class="fa fa-angle-down"></i>-->
                    </a>
                    <!--<ul class="dropdown-menu">
                        <li><a ui-sref="user"><i class="fa fa-user"></i>Profile</a></li>
                        <li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
                        <li><a href=""><i class="fa fa-envelope-o"></i>Messages</a></li>
                        <li><a href=""><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>-->
                </span>
                <span class="status">
                    <i class="fa fa-circle"></i> Online
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header nav-header-first hidden-sm hidden-xs">
                    Navigation
                </li>
                <!--<li>
                    <a href="">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                        <span class="label label-primary label-circle pull-right">0</span>
                    </a>
                </li>-->

                <!-- USER -->
                <li ng-hide="isCompanyAdmin" ng-class="getClass('/user/profile')">
                    <a ui-sref="user">
                        <i class="fa fa-user"></i>
                        <span>User Profile</span>
                    </a>
                </li>
                <li ng-hide="isCompanyAdmin" ng-class="getClass('/company')">
                    <a ui-sref="companies">
                        <i class="fa fa-building-o"></i>
                        <span>Companies</span>
                    </a>
                </li>
                <li ng-hide="isCompanyAdmin" ng-class="getClass('/user/invoices')">
                    <a ui-sref="user-invoices">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span>Invoices</span>
                    </a>
                </li>
                <li ng-hide="isCompanyAdmin" ng-class="getClass('/user/cart')">
                    <a ui-sref="shopping-cart">
                        <i class="fa fa-shopping-bag"></i>
                        <span>Cart</span>
                        <span class="label label-primary label-circle pull-right">{{cartTotalQTY}}</span>
                    </a>
                </li>
                <!--<li ng-hide="isCompany" class="dropdown" ng-class="getClass('/company')">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-building-o"></i>
                        <span>Companies</span>
                        <i class="fa fa-angle-right drop-icon"></i>
                    </a>
                    <ul class="dropdown-menu sidesubmenu">
                        <li ng-show="currentUser.companies.length === 0" ng-class="getClass('/company-create')">
                            <a ui-sref="company-create">
                                <span>Create Company</span>
                            </a>
                        </li>
                        <li ng-repeat="company in currentUser.companies" ng-class="getClass('/company-profile/{{company.name}}')">
                            <a ui-sref="company-profile({name: company.name})">
                                <span>{{company.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>-->

                <!-- COMPANY -->
                <li ng-show="isCompanyAdmin" ng-class="getClass('/company/{{currentCompany.name}}')">
                    <a ui-sref="company-profile({name: currentCompany.name})">
                        <i class="fa fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li ng-show="isCompanyAdmin" ng-class="getClass('/company/calendar/{{currentCompany.name}}')">
                    <a ui-sref="company-calendar({name: currentCompany.name})">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Calendar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<div id="nav-col-submenu"></div>