<div ng-show="loading" class="loading" ng-include="'templates/spinner.html'"></div>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Dashboard</a></li>
                <li><a ui-sref="user">User</a></li>
                <li><a ui-sref="user-invoices">Invoices</a></li>
                <li class="active"><span>Invoice Details</span></li>
            </ol>
            <h1>Invoice Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--<div class="main-box clearfix">-->
            <section class="cont invoice">
                <!-- title row -->
                <div class="row invoice-header">
                    <div class="col-lg-offset-6 col-lg-6">
                        <h2 class="sm-size">
                            <small class="pull-right">Date: {{invoice.date | date :  "MM/dd/yyyy"}}</small>
                        </h2>
                    </div>
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4">
                        <h4>From: <a ui-sref="company-profile({name:invoice.company.name})">{{invoice.company.name}}</a></h4>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <!--<th class="hidden-xs">Serial No.</th>-->
                                    <th class="hidden-xs">Description</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in invoice.products">
                                    <td>
                                        <img ng-src="img/company-profile/products/{{product.product.images[0]}}" alt="" width="50" style="padding-right:10px" /> {{product.product.name}}
                                        <span ng-repeat="options in product.options">, {{options.option}}</span>
                                    </td>
                                    <td>{{product.qty}}</td>
                                    <td>&dollar;{{product.product.price}}</td>
                                    <!--<td class="hidden-xs">{{product._id}}</td>-->
                                    <td class="hidden-xs">{{product.product.description | limitTo:50}}...</td>
                                    <td><span class="label label-primary">&dollar;{{product.product.price}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-lg-6">
                        <!--<div class="col-lg-12" style="margin-bottom:10px;">
                            <p class="lead">Payment Types:</p>
                            <img src="img/credit/visa.png" class="w-53" alt="Visa" />
                            <img src="img/credit/cirrus.png" class="w-53" alt="cirrus" />
                            <img src="img/credit/mastercard.png" class="w-53" alt="Mastercard" />
                            <img src="img/credit/paypal2.png" class="w-53" alt="Paypal" />
                        </div>-->
                        <div class="col-lg-12">
                            <p class="text-muted well well-sm no-shadow mt-10">
                                <span class="label label-danger">NOTE:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget vestibulum mauris, a egestas tellus.<b> Maecenas tempor pharetra dignissim.</b> Pellentesque ut massa libero.
                                Cras a elit enim.
                            </p>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="col-lg-6">
                        <p class="lead">Total Amount</p>
                        <div class="">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th><span class="label label-info">Total:</span></th>
                                        <td><span class="label label-success">&dollar;{{invoice.subTotal}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </section>
            <!--</div>-->
        </div>
    </div>
</div>