<div ng-show="loading" class="loading" ng-include="'templates/spinner.html'"></div>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="">Dashboard</a></li>
                <li class="active"><span>User Profile</span></li>
            </ol>
            <h1>User Profile</h1>
        </div>
    </div>
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>
                        {{currentUser.firstname}} {{currentUser.lastname}}
                        <!--<a href="" class="md-trigger box-close pull-right danger-close" title="Delete Account" data-toggle="modal" data-target="#deleteModal">
                            <i class="fa fa-times"></i>
                        </a>-->
                    </h2>
                </header>
                <div class="main-box-body clearfix">
                    <div class="profile-status">
                        <i class="fa fa-circle"></i> Online
                        <span ng-if="!currentUser.activated" class="label label-danger">NOT ACTIVATED</span>
                    </div>
                    <img src="img/default-user-image-159.png" alt="" class="profile-img img-responsive center-block" />
                    <!--<button type="button" class="btn btn-primary center-block">Upload New Picture</button>-->
                    <div class="profile-label">
                        <span class="label label-danger">{{currentUser.username}}</span>
                    </div>
                    <!--<div class="profile-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span>Super User</span>
                    </div>--><br/>
                    <div class="profile-since">
                        Member since: {{currentUser.createdAt | date:'MMM yyyy'}}
                    </div>
                    <div class="profile-details" ng-if="currentUser.biography">
                        <blockquote>
                            <small>
                                {{currentUser.biography}}
                            </small>
                        </blockquote>
                        <!--<ul class="fa-ul">
                            <li><i class="fa-li fa fa-truck"></i>Orders: <span>456</span></li>
                            <li><i class="fa-li fa fa-comment"></i>Posts: <span>828</span></li>
                            <li><i class="fa-li fa fa-tasks"></i>Tasks done: <span>1024</span></li>
                        </ul>-->
                    </div>
                    <!--<div class="profile-message-btn center-block text-center">
                        <a href="" class="btn btn-success">
                            <i class="fa fa-envelope"></i> Send message
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/user#tab-profile" data-toggle="tab">Profile</a></li>
                        <li><a href="/user#tab-account" data-toggle="tab">Account</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-profile">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="main-box-body clearfix">
                                        <form role="form" ng-submit="">
                                            <div class="row">
                                                <div class="form-group col-xs-6">
                                                    <label for="firstname">Firstname</label>
                                                    <input type="text" class="form-control" id="firstname" ng-model="currentUser.firstname" placeholder="Firstname">
                                                </div>
                                                <div class="form-group col-xs-6">
                                                    <label for="lastname">Lastname</label>
                                                    <input type="text" class="form-control" id="lastname" ng-model="currentUser.lastname" placeholder="Lastname">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username" ng-model="currentUser.username" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" ng-model="currentUser.email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="bio">Bio</label>
                                                <textarea class="form-control" id="bio" ng-model="currentUser.biography" rows="3"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary col-lg-3 col-md-4 col-xs-6" ng-click="updateProfile()">Update Profile</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="main-box clearfix">
                                        <header class="main-box-header clearfix">
                                            <h2>Profile Picture</h2>
                                        </header>
                                        <div class="main-box-body clearfix">
                                            <img ng-src="{{thumbnail.data.url || 'img/default-user-image-159.png'}}" alt="" class="profile-img img-responsive center-block" />
                                            <!--<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="profile-img img-responsive center-block" />-->
                                            <!--<input type="file" accept="image/*">-->
                                            <form enctype="multipart/form-data" ng-submit="uploadPicture()">
                                                <!--<input id="choose-image" type="file" name="file" accept="image/*" required>
                                                <button type="submit" class="btn btn-primary col-lg-12 col-md-12 col-xs-12">Upload Picture</button>-->
                                                <!--<input id="choose-image" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                                                <button type="button" class="btn btn-primary col-lg-12 col-md-12 col-xs-12" ng-click="uploadPic(picFile)">Upload Picture</button>
                                                <span class="progress" ng-show="picFile.progress >= 0">
                                                    <div style="width:{{picFile.progress}}%" 
                                                        ng-bind="picFile.progress + '%'"></div>
                                                </span>
                                                <span ng-show="picFile.result">Upload Successful</span>
                                                <i ng-show="myForm.file.$error.required">*required</i><br>
                                                <i ng-show="myForm.file.$error.maxSize">File too large 
                                                    {{errorFile.size / 1000000|number:1}}MB: max 2M</i>-->

                                                <div class="progress" ng-show="uploading">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only"></span>
                                                    </div>
                                                </div>

                                                <label class="btn btn-success">
                                                    Browse
                                                    <input id="choose-image" class="hidden" type="file" file-parse="picture.upload" name="picture" ng-disabled="uploading">
                                                </label>
                                                <button type="submit" class="btn btn-primary col-lg-12 col-md-12 col-xs-12" ng-disabled="uploading">Upload Picture</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="tab-account">
                            <div class="row">
                                <div class="col-lg-8">
                                    <header class="main-box-header clearfix">
                                        <h2>Change Password</h2>
                                        <hr>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <form role="form" ng-submit="">
                                            <div class="form-group">
                                                <label for="oldpassword">Old Password</label>
                                                <input type="password" class="form-control" ng-model="account.password" id="oldpassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="newpassword">New Password</label>
                                                <input type="password" class="form-control" ng-model="account.newPassword" id="newpassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="confirmnewpassword">Confirm New Password</label>
                                                <input type="password" class="form-control" ng-model="account.confirmNewPassword" id="confirmnewpassword">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" ng-click="updatePassword()" class="btn btn-success col-lg-3 col-md-4 col-xs-6">Update Password</button>
                                            </div>
                                        </form>
                                    </div>

                                    <header class="main-box-header clearfix">
                                        <h2>Delete Account</h2>
                                        <hr>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <p>Once you delete your account, there is no going back. Please be certain.</p>
                                        <button type="button" class="btn btn-danger col-lg-3 col-md-4 col-xs-6" data-toggle="modal" data-target="#deleteModal">Delete Account</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Delete Confirm Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to delete your account?</h4>
                <br/>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#deleteConfirmModal">Yes, Delete Account</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No, Leave Account</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Extra Confirm Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
                <p>You will be logged out automatically and will no longer be able to use this account.</p>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="deleteAccount()">Yes, Delete Account</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No, Leave Account</button>
            </div>
        </div>
    </div>
</div>