<div class="row">
    <div class="col-xs-12">
        <div id="login-box">
            <div id="login-box-holder">
                <div class="row">
                    <div class="col-xs-12">
                        <header id="login-header">
                            <div id="login-logo">
                                <img src="img/logo.png" alt="" />
                            </div>
                        </header>
                        <div id="login-box-inner" class="with-heading">
                            <h4>{{message}}</h4>
                            <form role="form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <br/>
                                        <a ui-sref="login" href="" id="login-forget-link" class="forgot-link col-xs-12">Back to login</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>